In [1]:
import gspread

import plotly.express as px
import plotly.graph_objects as go

import pandas as pd
import streamlit as st

def read_data():
    gc = gspread.service_account(filename="service_account.json")
    sh = gc.open("CAB Data Pipeline").get_worksheet(0) # index 0 = sheet1, index 1 = sheet2, etc.

    row_1 = sh.row_values(1)
    row_2 = sh.row_values(2)
    print(row_1, row_2)
    df = pd.DataFrame({'date': row_1, 'closing_price': row_2})
    return df

In [10]:
gc = gspread.service_account(filename="service_account.json")
sh = gc.open("CAB Data Pipeline").get_worksheet(0) # index 0 = sheet1, index 1 = sheet2, etc.
df = pd.DataFrame(sh.get_all_records())

In [11]:
df.head()

         date   price
0  2022-09-21  300.80
1  2022-09-22  288.59
2  2022-09-23  275.33